<ion-view view-title ="Dashboard" hide-nav-bar="true">
  <ion-content class="padding">
      <ion-slide-box on-slide-changed="slideHasChanged($index)">

  <ion-slide>
    <div class="sliderwhite">
      <img class="centerimg" src="/img/blinklogo.png"></img>
    </div>
  </ion-slide>

    <ion-slide>
    <div class="sliderblue">
      <h2 class="onb">Want to <br>buy coffee with <br><strong>bitcoin?</strong></h2>
      <img class="leftcentimg" src="/img/graphics-01.png"></img>
    </div>
  </ion-slide>

   <ion-slide>
    <div class="sliderwhite">
       <img class="images" src="/img/graphics-02.png"></img>
      <h3 class="onb">Just <strong>load</strong><br>the amount<br>you need...</h3>
    </div>
  </ion-slide>

   <ion-slide>
    <div class="sliderwhite">
      <img class="images" src="/img/graphics-03.png"></img>
      <h3 class="onb">Then pay<br>for your coffee<br>and <strong>enjoy</strong>!</h3>
    </div>
  </ion-slide>

</ion-slide-box>
  </ion-content>
</ion-view>